.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  height: 38px;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  padding: 10px 20px;
  color: var(--btn-color);
  border-radius: 5px;
  border: none;
  background-color: var(--btn-bg-color);
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover,
  &:focus {
    background-color: #000000bf;
  }

  &:active {
    background-color: var(--btn-bg-color);
  }

  &_toggle-theme {
    padding: 10px;
  }

  &_secondary {
    color: var(--text-color);
    background-color: #e9f1f6;

    &:hover,
    &:focus {
      background-color: #e9f1f6bf;
    }
  }

  &_loadmore {
    padding: 16px 20px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
  }

  &_lg {
    padding: 16px 20px;
    min-height: 48px;
    font-size: 16px;
    font-weight: 500;
  }

  .dark & {
    &_secondary {
      background-color: #232323;
      color: #fff;
    }
  }
}
