.footer {
  background-color: #000;
  padding: 11px 0;
  font-size: 14px;
  color: #fff;

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: #fff;
  }

  @include mobile {
    font-size: 12px;
  }
}

.footer__copyright {
  text-align: center;
}
